<% include partials/header %>
<h1>Enter your project here</h1>
<form action ="/projects" method="POST" >
<input type="text" name="name" placeholder="name">
<input type="text" name="image" placeholder="image url">
<button>Submit!</button>
</form>
<a href="/projects">Cancel</a>
<% include partials/footer %>